/* CUSTOM PROPERTIES */

:root {
    --clr-background: hsl(225, 100%, 94%);
    --clr-bright-blue: hsl(245, 75%, 52%);
    --clr-light-grey: hsl(225, 100%, 98%);
    --clr-light-blue: hsl(224, 23%, 55%);
    --clr-dark-blue: hsl(223, 47%, 23%);

    --ff-primary: 'Red Hat Display', sans-serif;
    --fw-title: 900;
    --fw-subtitle: 700;
    --fw-body: 500;
    --fs-title: 25px;
    --fs-subtitle: 16px;
    --fs-body: 16px;
}



/* TYPOGRAPHY */

body {
    font-family: var(--ff-primary);
}

h1 {
    color: var(--clr-dark-blue);
    font-size: var(--fs-title);
    font-weight: var(--fw-title);
}

h2 {
    font-size: var(--fs-subtitle);
    font-weight: var(--fw-subtitle);
}

p {
    font-size: var(--fs-body);
    font-weight: var(--fw-body);
    color: var(--clr-light-blue)
}

.sub-plan {
    line-height: 5px;
}



/* GENERAL STYLING */

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-background);
    background-image: url(../img/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
}

.container {
    display: flex;
    background-color: white;
    flex-direction: column;
    text-align: center;
    border-radius: 16px;
    overflow: hidden;
    max-width: 350px;
}

.hero-image {
    width: 100%;
}

.sub-plan {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;
    background-color: var(--clr-light-grey);
    color: var(--clr-dark-blue);
    border-radius: 8px;
}

.icon-music {
    margin-right: 20px;
}



/* BUTTONS */

.button {
    font-family: var(--ff-primary);
    font-weight: var(--fw-subtitle);
}


.change-button {
    margin-left: auto;
    color: var(--clr-bright-blue);
}

.proceed-button {
    border-style: none;
    background-color: var(--clr-bright-blue);
    color: white;
    font-size: var(--fs-body);
    padding: 10px;
    width: 90%;
    margin-top: 25px;
    border-radius: 8px;
}

.cancel-button {
    border-style: none;
    background: none;
    color: var(--clr-light-blue);
    margin: 20px;
}

.change-button:hover {
    cursor: pointer;
    text-decoration: none;
    color: hsl(245, 75%, 62%);
}

.proceed-button:hover {
    background-color: hsl(245, 75%, 62%);
    cursor: pointer;
}

.cancel-button:hover {
    cursor: pointer;
    color: var(--clr-dark-blue);
}


/* MEDIA QUERIES */

@media (min-width: 800px) {
    body {
        background-image: url(../img/pattern-background-desktop.svg)
    }
}
